## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.nav
*.snm
*.synctex.gz

## Intermediate documents:
*.dvi
*.xdv
*.ps
*.eps
*.pdf

## csharp intermediate and binary
*.dll
*.pdb
*.exe
.vs/
obj/
bin/
launchSettings.json


